@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Open+Sans&family=Oswald:wght@300&family=Source+Sans+Pro:wght@900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --neon-clr: aquamarine;
  --body-clr: #9190cb;
  --card-clr: #1e1d38;
  --ff-os: "Open Sans", sans-serif;
  --ff-ss: "Source Sans Pro", sans-serif;
  --ff-kd: "Kaisei Decol", serif;
  --ff-o: "Oswald", sans-serif;
}




  body {
    background-color: #ffffff;
  }
  
  .pages {
    color: #ffffff;
    text-align: center;
    font-size: calc(1.5rem + 2vw);
    margin-top: 10%;
    
   
  }
  
  .navbar {
    background-color: #ffffff;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
  }
  
  .main-container{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0.3);
  }
  
  .nav-logo {
    color: #800000;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    flex-grow: 1;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
  }
  
  .nav-links {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
  .fa-code {
    margin-left: 1rem;
  }
  
  .nav-item {
    line-height: 30px;
    margin-right: 1rem;
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: #800000;
  }
  
  .nav-item.active {
    color: #800000;
    border: 1px solid #800000;
  }
  
  .nav-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    
    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      border-top: 1pxsolid #fff;
      position: absolute;
      top: 80px;
      left: -110%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #ffffff;
      left: 0px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
    .nav-item .active {
      color: #800000;
      border: none;
    }
    .nav-links {
      padding: 1.5rem;
      width: 100%;
      display: table;
    }
  
    .nav-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      color: #800000;
    }
  }



.landing {
  position: relative;
  z-index: 1;
}
.bg {
  position: absolute;
  background: url("../public/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: max(38rem, 100vh);
  width: 100%;
  z-index: -1;
  
}

.bg::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  height: max(38rem, 100vh);
  width: 100%;
  position: absolute;
}
.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}
.column {
  display: flex;
  flex-flow: column wrap;
}

.bg-column__center {
  justify-content: center;
  height: max(38rem, 100vh);
}
.title {
  font-family: var(--ff-ss);
  font-size: 3rem;
  color: silver;
  width: 60%;
}
.subheading {
  font-size: 1.2rem;
  color: gainsboro;
  width: 50%;
  margin-top: 1em;
}
.book-button {
  display: inline-block;
  cursor: pointer;
  width: max-content;
  background-color: #800000;
  margin-top: 1.5em;
  padding: 0.75em 1.5em;
  border: solid 0.3em ;
  border-radius: 0.25em;
  box-shadow: 0 0.1em 0.25em ,
    inset 0 0.05em 0.25em ;
  transition: 300ms ease-out;
}
.book-link {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  font-family: var(--ff-ss);
}
.book-button:hover {
  box-shadow: 0 0.2em 1em ;
  transition: 300ms ease-out;
}
.book-button:hover .book-link {
  color: black;
}



.info-content {
  background-color: 'white';
  padding: 3em 0;
}
.info-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-title {
  font-family: var(--ff-o);
  font-size: 2rem;
  color: #800000;
}
.main-content {
  width: 65%;
  /*   background: yellow; */
}
.aside-content {
  width: 32%;
  /*   background: red; */
}

.aside-card {
  padding: 1em;
  font-family: var(--ff-o);
  font-size: 1.1rem;
  background-color: #800000;
  color: white;
  border-radius: 1em;
  letter-spacing:.075em;
  word-spacing:.1em;
}
.aside-card-imp {
  background-color: lightgrey;
  color: var(--card-clr);
}
.aside-card + .aside-card {
  margin-top: 1em;
}

/* footer */

.footer {
  background-color: #530000;
  color: grey;
  padding: 2em 0;
}
.footer-panel {
  display: flex;
  flex-flow: column;
}
.footer-title {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-bottom: 1em;
}
.footer-content {
  display: flex;
  justify-content:space-between;
}
.footer-about {
  width: 50%;
}
.footer-section__title {
  color: darkgray;
}
.footer-links-section{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  text-align:center;
  width: 45%;
}
.footer-link-section{
  width:30%;
}
.footer-link-lists{
  padding:0;
  margin-top:.5em;
}
.footer-link-list-item{
  list-style:none;
  
}
.footer-link{
  color:gray;
  text-decoration:none;
}
.footer-link:hover{
  color:lightgray;
  text-decoration:underline;
}
/*  */
/*  */
/*  */
@media (max-width: 850px) {
  .container {
    width: 85%;
  }
  .info-flex {
    display: flex;
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  .aside-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:2em;
  }
  .aside-card {
    width: 32%;
  }
  .aside-card + .aside-card {
    margin: 0;
  }
  .footer-content{
    flex-flow:column;
    align-items:center;
  }
  .footer-about{
    text-align:center;
    width:90%;
  }
  .footer-links-section{
    width:100%;
    margin-top:2em;
  }
}
@media (max-width: 650px) {
  .title,
  .subheading {
    width: 100%;
    text-align: center;
  }
  .bg-column__center {
    align-items: center;
  }
  .aside-content {
    display: flex;
    flex-flow: column;
    /*     justify-content:space-between; */
  }
  .aside-card {
    width: 100%;
  }
  .aside-card + .aside-card {
    margin-top: 1em;
  }
  .footer-links-section{
  display:flex;
  flex-direction:column;
/*   justify-content:space-between; */
    align-items:center;
 width:100%;
}
  .footer-link-section{
    margin-top:1.5em;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 2.1rem;
  }
  .container {
    width: 90%;
  }
}
